@inject IStringLocalizer<Footer> _localizer
@rendermode InteractiveServer

<section class="">
  <!-- Footer -->
  <footer class="bg-body-tertiary footer">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      @_localizer["message"]
    </div>
  </footer>
  <!-- Footer -->
</section>